# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that.

title: My Blog
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  A personal blog hosted on GitHub Pages using Jekyll.
  Write an awesome description for your new site here.
baseurl: "https://axymthr.github.io" # the subpath of your site, e.g. /blog
url: "/blog" # the base hostname & protocol for your site, e.g. http://example.com

# Social media usernames (optional)
twitter_username: axymthr
github_username:  axymthr

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
